.custom-register-btn {
  background-color: #97a97c !important;
  border-color: #97a97c !important;
  color: white !important;
}

.custom-register-btn:hover {
  background-color: #85986c !important; /* Slightly darker green on hover */
  border-color: #85986c !important;
}
