.shipping-form .input-group,
.shipping-form .address-inputs {
    margin-bottom: 15px; /* Adds space between each input group */
}

.shipping-form .form-control {
    margin-bottom: 15px; /* Adds space below each input */
}

.input-group .form-control {
    margin-right: 20px; /* Adds space between inputs */
}

.input-group .form-control:last-child {
    margin-right: 0; /* Removes margin from the last input */
}

.submit-button {
    background-color: #97a97c; /* Change this to any color */
    border-color: #97a97c;
    color: white;
}

.submit-button:hover {
    background-color: #85986c; /* Darker shade for hover effect */
    border-color: #85986c;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: #6f4e37;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

